@page "/"
@using Microsoft.JSInterop
@using RickMortyApi.Shared.Models
@using System.Collections.Generic
@using System.Net.Http
@using Newtonsoft.Json
@using System.IO
@inject HttpClient client
@inject IJSRuntime JS

<h1 id="title"><strong>Rick & Morty Characters</strong></h1>

@if (characters is null)
{
    <p>No characters found</p>
}

else if (characters.Results.Count == 0)
{
    <p>0 characters returned</p>
}
else
{
    <button type="button" class="btn btn-danger" id="showCharactersButton">Show characters</button>
    <div class="row" id="charactersContainer" style="display: none;">
        @foreach (var character in characters.Results)
        {
            <div class="col mt-3">
                <div class="card">
                    <img src="@character.Image" class="card-img-top" alt="No image">
                    <div class="card-body">
                        <p class="card-text"><strong>@character.Name</strong></p>
                        <p class="card-text">@character.Origin.Name</p>
                        <p class="card-text">@character.Location.Name</p>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    public required Characters characters { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await GetCharacters();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initializeShowCharactersButton");
        }
    }

    private async Task GetCharacters()
    {
        var response = await client.GetAsync("api/characters/all");

        if (response.IsSuccessStatusCode)
        {
            string responseBody = await response.Content.ReadAsStringAsync();
            var tempCharacters = JsonConvert.DeserializeObject<Characters>(responseBody);

            if (tempCharacters != null)
            {
                characters = tempCharacters;
                StateHasChanged();
            }
            else
            {
                throw new ArgumentNullException();
            }
        }
    }
}
